/*css reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* The header */
a {
    text-decoration: none;
}

nav a:visited {
    color: black;
}

nav a:hover {
    color: coral;
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;

}

nav {
    right: 0;
    position: absolute;
    width: 200px;
}

#logo {
    margin-left: 10px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: whitesmoke;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #444654;
    border-radius: 5px;
}