#skills {
    grid-area: s;
    background-color: #c0c7fa;
    display: grid;
    grid-template-rows: 80% 20%;
}

#techs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.langs{
    background-color: #060a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.langs:hover{
    background-color: #dcdcdc;
    transition-property: background-color;
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
}

.names{
    display:flex;
    color: whitesmoke;
}

.namesDesc{
    font-size: 0.8rem;
    text-align: center;
    display: none;
}

.namesDesc div{
    display: flex;
    justify-content: center;
}

.imgs{
    width: 20px;
    margin-right: 5px;
}